.global-bg-container {
  background-color: #282B33;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.page-list-category-heading {
  align-self: flex-start;
}

.page-content-bg-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}